<div ng-controller="aggParam.controller">
    <table class="comparing-form-table form-group">
      <tr>
        <td class="comparing-form-table__field">
            <label for="visEditorDateRangeComparing{{agg.id}}">Comparing</label>
            <select
              id="visEditorDateRangeComparing{{agg.id}}"
              name="comparing"
              ng-model="agg.params.range.comparing"
              required
              ng-options="offset as offset.display for offset in aggParam.comparingOffsets track by offset.display"
              class="form-control">
            </select>
        </td>
        <td class="comparing-form-table__field">
            <label for="visEditorDateRangeFormat{{agg.id}}">Format</label>
            <select
              id="visEditorDateRangeFormat{{agg.id}}"
              name="format"
              ng-model="agg.params.range.format"
              required
              ng-options="format as format for format in aggParam.comparingFormats"
              class="form-control">
            </select>
        </td>
      </tr>
      <tr ng-show="isCustomComparing()">
        <td class="comparing-form-table__field comparing-form-table__field--no-padding-bottom">
            <label id="visEditorDateRangeFrom{{agg.id}}">From</label>
            <input
              aria-labelledby="visEditorDateRangeFrom{{agg.id}}"
              ng-model="agg.params.range.custom.from"
              validate-date-math
              ng-required="isCustomComparing()"
              type="text"
              class="form-control"
              name="agg.params.range.custom.from"
              placeholder="yyyy/mm/dd HH:mm" />
        </td>
        <td class="comparing-form-table__field comparing-form-table__field--no-padding-bottom">
            <label id="visEditorDateRangeTo{{agg.id}}">To</label>
            <input
              aria-labelledby="visEditorDateRangeTo{{agg.id}}"
              ng-model="agg.params.range.custom.to"
              validate-date-math
              ng-required="isCustomComparing()"
              class="form-control"
              name="agg.params.range.custom.to"
              placeholder="yyyy/mm/dd HH:mm" />
        </td>
      </tr>
      <tr ng-show="isCustomComparing()">
        <td class="comparing-form-table__field" colspan="2">
          <small>
            <a
              class="kuiLink"
              documentation-href="date.dateMath"
              target="_blank"
              rel="noopener noreferrer"
            >
              Accepted date formats
            </a>
          </small>
        </td>
      </tr>
    </table>
</div>
